@font-face {
	font-family: 'Roboto';
	src: url('../Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url('../Roboto/Roboto-Bold.ttf') format('truetype');
}

* {
	font-family: 'Roboto';
	font-weight: normal;
}

b {
	font-weight: bold;
}

#fixedheader a b {
	font-family: Roboto;
	color: #000;
}

@charset "utf-8";
/* CSS Document */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	margin-top: 2em;
}

h1, h2, h3, h4 {
	text-align: center;
}

body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}

a:link {
	color: #000;
	font-family: Roboto;
}

ul{
	color: black;
}

h3{
	display:inline;
	color: #000;
}

div#centeredtext {
	text-align: center;
	margin-top:4em;
}

div#fixedheader {
	position:fixed;
	text-align: center;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:6.5px;
}

div#fixedfooter {
	position:fixed;
	text-align: center;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
	font-family: Roboto;
}

div#twitterbutton {
	margin-top: 4em;
}

div#rss-share {
	text-decoration: underline;
}

h4{
	margin-top: 2em;
}
