@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url('Roboto-Bold.ttf') format('truetype');
}

#fixedheader a b {
	font-family: Roboto;
	color: #000;
}

