---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title | default: site.title }}</title>
<link href="/css/master.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="fixedheader">
<h3><a href="/" style="text-decoration: none; font-family: Roboto; color: #FFF;">Home</a>&nbsp; &nbsp; <a href="https://github.com/pathawks/podcast" style="text-decoration: none; font-family: Roboto; color: #FFF;">GitHub</a>
</div>

{{ content }}

<p>&nbsp;</p>
<div id="fixedfooter">2018 &copy; Data Munchers</div>

</body>
</html>
