---
layout: master
---

<h2>Date: {{page.date}}</h2>
<h2>Title: {{page.title}}</h2>
<h2>Excerpt: {{page.excerpt}} </h2>
<h2>Download the Podcast here: <a href="{{page.audio.mp3}}" style="text-decoration: underline; font-family: Roboto;">{{page.audio.mp3}}</a> <b>(Right-Click to Download)</b>

<div id="centeredtext">
	<audio controls="controls">
		<source src="{{page.audio.mp3}}" type='audio/mpeg; codecs="mp3"' />
	</audio>
</div>

<div id="twitterbutton">
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out my podcast at {{ site.title }}! Created by Herky Hack (herkyhack.com)." data-hashtags="HackUIowa" data-show-count="false">Tweet</a>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	<a href="/podcast.rss.xml">
      <h3>Want a feed for your podcast that you can share with others?</h3>
      <div id="rss-feed">
      <h4>Download RSS Feed</h4>
    </a>
</div>
